<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}) %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <%- include('partials/sidebar') %>
        </div>
        <div class="col-sm-10">
            <h1><%= title %></h1>
          <% if(author_list.length < 1){%>
              <p>There are no books.</p>
          <%}
           else{%>
            <ul>
            <%for(let author of author_list){%>
              <li>
                <a href=<%=author.url %>><%=author.name%></a>
                <span>
                  <p>Born on: <%=author.dob && author.dob !== 'Invalid DateTime' ? author.dob : 'To be Determined'%></p></span>
                <span>
                  <p>Died on: <%=author.dod && author.dod !== 'Invalid DateTime' ? author.dod : 'To be Determined'%></p></span>
              </li>
          <%}%>
            </ul>
        <%}%>      
        </div>
      </div>
    </div>
  </body>
</html>